html {
    	background-color: antiquewhite;
}
h1 {
    	font-family: Courier New, sans-serif;
    	color: brown;
    	text-align: center;
	text-shadow: 1px 1px 1px black;
}
h2 {
	font-family: Tahoma, sans-serif;
	color: white;
	text-shadow: 2px 2px black;
	font-size: 120%;
}
.blocks {
}
#block1{
    	background-color: bisque;
    	box-sizing: border-box;
   	border: 1px solid black;
    	margin: 20px;
    	padding: 10px;
	padding-top: 0;
	padding-right: 0;
	max-width: 30%;
	position: absolute;
}
#block2 {
	background-color: bisque;
	box-sizing: border-box;
	border: 1px solid black;
	margin: 20px;
	padding: 10px;
	padding-top: 0;
	padding-right: 0;
	max-width: 30%;
	position: absolute;
	float: auto;
	left: 33%;
}
#block3{
	background-color: bisque;
	box-sizing: border-box;
	border: 1px solid black;
	margin: 20px;
	padding: 10px;
	padding-top: 0;
	padding-right: 0;
	max-width: 30%;
	position: absolute;
	float: auto;
	left: 66%;
}
.blocks section #block1Header {
	background-color: brown;
	box-sizing: border-box;
	max-height: auto;
	width: 75px;
	border: 1px solid black;
	padding: 5px;
	margin-top: 0;
	margin-left: auto;
	text-align: center;
}
.blocks section #block2Header {
	background-color: blueviolet;
	box-sizing: border-box;
	max-height: auto;
	width: 75px;
	border: 1px solid black;
	margin-top: 0;
	padding: 5px;
	margin-left: auto;
	text-align: center;
}
.blocks section #block3Header {
	background-color: chocolate;
	box-sizing: border-box;
	max-height: auto;
	width: 75px;
	padding: 5px;
	border: 1px solid black;
	margin-top: 0;
	margin-left: auto;
	text-align: center;
}
p {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: maroon;
	font-size: 102%;
}
@media (max-width: 992px) {
	
#block1{
    	background-color: bisque;
    	box-sizing: border-box;
    	border: 1px solid black;
    	margin: 20px;
    	padding: 10px;
	padding-top: 0;
	padding-right: 0;
	max-width: 30%;
	position: absolute;
}
#block2 {
    	background-color: bisque;
    	box-sizing: border-box;
    	border: 1px solid black;
    	margin: 20px;
    	padding: 10px;
	padding-top: 0;
	padding-right: 0;
	max-width: 30%;
	position: absolute;
	float: auto;
	left: 33%;
}
#block3{
    	background-color: bisque;
    	box-sizing: border-box;
    	border: 1px solid black;
    	margin: 20px;
    	padding: 10px;
	padding-top: 0;
	padding-right: 0;
	max-width: 30%;
	position: absolute;
	float: right;
	top: 75%;
}
}
